
/* * {
    border: 1px solid  rgb(155, 248, 248); 
} */

p, h1, h2, h3, li, ul { 
    color: rgb(155, 248, 248); 
    font-family: fantasy; 
}
#navigation {
                    background-color: rgba(24, 24, 141, 0.322); 
                     padding: 10px; 
                     width: 100vw; 
                     position: fixed;  
}

#header {
    background-color: darkslategrey; 
    padding: 10px; 
 

}

#content {
    background-color: darkslategrey; 
    padding: 10px; 
}

#footer {
    background-color: darkslategrey; 
    padding: 10px; 
}

h1 {
    color:rgba(213, 213, 233, 0.959) "; 
}

.container {
    width: 100%; 
    max-width: 760px;
    margin: 0 auto 0 auto; 
}

#navigation> ul {
    padding: 20px; 
    margin:0; 
    list-style: none; 
}

#navigation > ul > li {
    margin-right: 10px; 
    display: inline; 
    font-size: 30px; 
}

ul > a {
    padding: 10px; 
}
a:visited {
    color: 	rgb(39,197,171) 
}

a:hover {
    color: blue; 
}

#bizcard {
  
}